.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  min-height: 50px;
}

.cell {
  width: 50px;
  aspect-ratio: 1/1;
  background-color: moccasin;
}

.cell:nth-child(even) {
  background-color: lightgreen;
}

.pawn::after {
  content: "♟️";
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 350px;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: lightblue;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.add-button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}